.login-background{
    width: calc(100% + 20px);
    height: 100%;
    position: fixed;
    background-color: rgb(0, 0, 0, 0.4);
    left: -10px;
    z-index: 1;
}

.login-div {
    display: flex;
    flex-direction: column;
    position: fixed;
    box-sizing: border-box;
    z-index: 2;
    border-radius: 15px;
    width: 300px;
    height: 100px;
    padding: 10px;
    background-color: #303030;
    top: calc(50vh - 100px);
    left: calc(50vw - 150px);
    box-shadow: 0px 0px 50px black;
    gap: 10px
}

.login-input {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
}

.login-button {
    border: none;
    background-color: #505050;
    width: 60px;
    padding: 5px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: 0;
    
}